DATABASE_URL="file:./dev.db"
# For PostgreSQL:
# DATABASE_URL="postgresql://postgres:password@localhost:5432/hotel_pos?schema=public"

JWT_SECRET="hotel-pos-secure-jwt-secret-key-production-2025"
NEXT_PUBLIC_APP_NAME="HOTEL POS"
NEXT_PUBLIC_HOTEL_NAME="HOTEL ROYAL PALACE"
NEXT_PUBLIC_HOTEL_ADDRESS="Main Road, City Center"
NEXT_PUBLIC_HOTEL_PHONE="+91 98765 43210"
